<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to transcribe audio from videos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to transcribe Lithuanian audio from your videos.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SubRip Subtitle File</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mks.subtitle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>srt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-subrip</string>
					<string>text/srt</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Video File</string>
			<key>UTTypeIdentifier</key>
			<string>public.video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
					<string>mov</string>
					<string>m4v</string>
					<string>avi</string>
					<string>mkv</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
